.hero-phone-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

/* Responsive layout for mobile devices */
@media (max-width: 768px) {
  .hero-phone-wrapper {
    flex-direction: column;
  }
}

.features-phone-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

/* Responsive layout for mobile devices */
@media (max-width: 768px) {
  .features-phone-wrapper {
    flex-direction: column;
  }
}
